<div class="sidebar">
    <div class="profile">
        <img src="assets/images1.jpeg" alt="avatar" class="profile-img">
        <p class="profile-name">{{ userResponse?.full_name }}</p>
        <p *ngIf="userResponse?.id" class="profile-name">ID: {{ userResponse?.id }}</p> 
    </div>
    <ul class="menu">
        <li [class.active]="isActive('home')">
            <a routerLink="/user/home">Thông tin user</a>
        </li>
        <li [class.active]="isActive('update')">
            <a routerLink="/user/update">Chỉnh sửa thông tin user</a>
        </li>
        
        <li  [class.active]="isActive('create-schedule')">
            <a routerLink="/user/create-schedule">Đăng ký lịch khám</a>
        </li>
        <li  [class.active]="isActive('get-schedule')">
            <a routerLink="/user/get-schedule">Xem lịch khám</a>
        </li>
        <li  [class.active]="isActive('get-profile')">
            <a routerLink="/user/get-profile">Xem Hồ sơ khám bệnh</a>
        </li>
        <li class="logout" (click)="confirmLogout()"> 
            <a href="javascript:void(0)">Đăng xuất</a>
        </li>
    </ul>
</div>
