<app-header></app-header>
<div class="container-fluid">
    <div class="container-fluid" *ngIf="userResponse">
        <app-doctor-header></app-doctor-header>
        <div class="main-content">
            <div class="form-section">
                <h2 class="section-title">Chỉnh sửa thông tin Doctor</h2>
                <hr class="divider">
                <div class="form-group">
                    <label>Họ và tên</label>
                    <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="fullName"
                        placeholder="{{ userResponse.full_name }}">
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <label for="date-of-birth">Ngày tháng năm sinh</label>
                    <input type="date" class="form-control" id="date-of-birth" name="dateOfBirth"
                        [(ngModel)]="birthday">
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <label>Địa chỉ</label>
                    <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address"
                        placeholder="{{ userResponse.address }}">
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <label>Upload ảnh</label>
                    <input type="file" (change)="onFileSelected($event)" />
                    <button (click)="uploadFile()" class="btn btn-primary">Tải lên</button>
                </div>
                <button type="submit" class="btn btn-primary btn-space" (click)="saveUpdateUser()">Lưu</button>
                <button type="button" class="btn btn-secondary btn-space" routerLink="/update-password">Thay đổi mật
                    khẩu</button>
            </div>
            <hr class="section-divider">
            <div class="form-section">
                <h2 class="section-title">Chỉnh sửa thông tin nghề nghiệp</h2>
                <div class="form-group">
                    <label>Chuyên khoa</label>
                    <select class="form-control doctor-specialty" [(ngModel)]="selectedSpecialtyId">
                        <option *ngFor="let specialty of specialties" [value]="specialty.id">
                            {{ specialty.name }}
                        </option>
                    </select>
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <label>Quá trình đào tạo</label>
                    <textarea class="form-control" id="trainingProcess" name="trainingProcess"
                        [(ngModel)]="trainingProcess" rows="3" placeholder="Nhập quá trình đào tạo chi tiết tại đây...">
                        </textarea>
                    <div class="divider-nospace"></div>
                </div>

                <div class="form-group">
                    <label>Khám và điều trị các bệnh</label>
                    <textarea class="form-control" id="jobDescription" name="jobDescription"
                        [(ngModel)]="jobDescription" rows="3" placeholder="Nhập mô tả công việc chi tiết tại đây...">
                        </textarea>
                    <div class="divider-nospace"></div>
                </div>

                <button type="submit" class="btn btn-primary" (click)="updateDoctor()">Lưu</button>
                
            </div>
        </div>

    </div>
</div>