<app-header></app-header>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="main-content">
            <div class="form-section" *ngIf="profile">
                <h2 class="section-title">Thông tin chi tiết bệnh án</h2>
                <div class="form-group">
                    <label for="name">Tên bệnh nhân:</label>
                    <h3 class="profile-detail">{{profile.schedule_response.user_name}}</h3>
                </div>
                <div class="form-group">
                    <label for="name">Số ĐT bệnh nhân:</label>
                    <h3 class="profile-detail">{{profile.schedule_response.user_phone}}</h3>
                </div>
                <div class="form-group">
                    <label for="name">Ngày Khám:</label>
                    <h3 class="profile-detail">{{profile.schedule_response.date}}</h3>
                </div>
                <div class="form-group">
                    <label for="name">Thời gian khám:</label>
                    <h3 class="profile-detail">{{profile.schedule_response.time_slot.startEnd}}</h3>
                </div>
                <hr class="section-divider">
                <h2 class="section-title">Chuẩn đoán</h2>
                <div class="form-group">
                    <label for="name">Chuẩn đoán của bác sĩ:</label>
                    <h3 class="profile-detail" *ngFor="let item of profile.diagnosis.split('\n')">
                       + {{ item.trim() }}</h3>
                </div>
                <div class="form-group">
                    <label for="name">Phương pháp điều trị:</label>
                    <h3 class="profile-detail" *ngFor="let item of profile.treatment.split('\n')">
                        + {{ item.trim() }}</h3>
                </div>
                <div class="form-group">
                    <label for="name">Đơn thuốc điều trị:</label>
                    <h3 class="profile-detail" *ngFor="let item of profile.medications.split('\n')">
                        + {{ item.trim() }}</h3>
                </div>

                <hr class="section-divider">
                <h2 class="section-title">Các dịch vụ y tế đã sử dụng</h2>
                <table class="pricing-table">
                    <thead>
                        <tr>
                            <th class="sub-header">ID</th>
                            <th class="sub-header">Tên dịch vụ</th>
                            <th class="sub-header">Giá dịch vụ</th>
                            <th class="sub-header">Giá khi có BHYT</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let service of services">
                            <td>{{ service.id}}</td>
                            <td>{{ service.name }}</td>
                            <td>{{ service.price }}.000 VND</td>
                            <td>{{ service.insurancePrice }}.000 VND</td>
                        </tr>
                    </tbody>
                </table>
                <div class="total-amount">
                    <h3>Tổng số tiền: {{ totalAmount }}.000 VND</h3>
                    <h3>Tổng số tiền khi có BHYT: {{ totalAmountBHYT }}.000 VND</h3>
                </div>
                <button class="confirm-button" (click)="routerDoctorOrUser()">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

