<app-header></app-header>
<div class="container-fluid">
    <div class="container-fluid" >
        <app-doctor-header></app-doctor-header>
        <div class="main-content">
            <div class="form-section">
                <div class="breadcrumb">
                    <a routerLink="/doctor/schedule-manage">Schedule</a> / Profile
                </div>
                <h2 class="section-title">Thông tin hồ sơ</h2>
                <hr class="divider">
                <div class="form-infor" *ngIf="schedule">
                    <p><strong>Tên bệnh nhân: </strong>{{schedule.user_name}}</p>
                    <p><strong>Số ĐT bệnh nhân: </strong>{{schedule.user_phone}}</p>
                    <p><strong>Ngày khám: </strong>{{schedule.date| date: 'dd-MM-yyyy' }}</p>
                    <p><strong>Thời gian khám: </strong>{{schedule.time_slot.startEnd}}</p>
                </div>
                
                <h2 class="section-title">Tạo hồ sơ bệnh án</h2>
                <hr class="divider">
                <div class="form-group">
                    <label>Chẩn đoán của bác sĩ</label>
                    <textarea class="form-control" id="diagnosis" name="diagnosis" [(ngModel)]="diagnosis" rows="3"
                        placeholder="Nhập chẩn đoán chi tiết tại đây...">
                        </textarea>
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <label>Phương pháp điều trị</label>
                    <textarea class="form-control" id="treatment" name="treatment" [(ngModel)]="treatment" rows="3"
                        placeholder="Nhập phương pháp điều trị chi tiết tại đây...">
                        </textarea>
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group">
                    <label>Đơn thuốc điều trị</label>
                    <textarea class="form-control" id="medications " name="medications" [(ngModel)]="medications"
                        rows="3" placeholder="Nhập đơn thuốc chi tiết tại đây...">
                        </textarea>
                    <div class="divider-nospace"></div>
                </div>
                <button class="profile-button" (click)="createProfile()">Thêm dịch vụ </button>
            </div>
        </div>
    </div>
</div>