<app-header></app-header>
<div class="container-fluid">
    <div class="container-fluid">
        <app-doctor-header></app-doctor-header>
        <div class="main-content">
            <div class="form-section">
                <h2 class="section-title">Quản lý lịch khám</h2>
                <hr class="divider">
                <table class="pricing-table">
                    <thead>
                      <tr>
                        <th class="sub-header">STT</th>
                        <th class="sub-header">Tên người khám</th>
                        <th class="sub-header">Số ĐT bệnh nhân</th>
                        <th class="sub-header">Ngày khám</th>
                        <th class="sub-header">Thời gian</th>
                        <th class="sub-header">Chức năng</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let schedule of schedules; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ schedule.user_name }}</td>
                        <td>{{ schedule.user_phone }}</td>
                        <td>{{ schedule.date }}</td>
                        <td>{{ schedule.time_slot.startEnd }}</td>
                        <td class="action-buttons">
                            <button class="edit-button" (click)="createProfile(schedule.id)">Tạo hồ sơ bệnh án </button>
                          </td>
                      </tr>
                    </tbody>
                </table>
                <div class="pagination">
                    <button (click)="changePage(page - 1)" [disabled]="page === 0">Previous</button>
                    <button *ngFor="let p of pages" (click)="changePage(p)" [class.active]="p === page">{{ p + 1 }}</button>
                    <button (click)="changePage(page + 1)" [disabled]="page === totalPages - 1">Next</button>
                </div>
            </div>
        </div>
    </div>
</div>