<app-header></app-header>
<div class="change-password-container">
    <div class="password-form">
        <h2 class="form-title">Thay Đổi Mật Khẩu</h2>
        <form #changePasswordForm="ngForm">
            <!-- Mật khẩu hiện tại -->
            <div class="form-group">
                <label>Mật khẩu hiện tại</label>
                <div class="input-group">
                    <input type="password" 
                        class="form-control" 
                        id="password" 
                        name="password"
                        [(ngModel)]="password"
                        required
                        placeholder="Nhập mật khẩu hiện tại">
                    <span class="input-group-text" (click)="togglePasswordVisibility('password', $event)">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
                <div class="divider-nospace"></div>
            </div>

            <!-- Mật khẩu mới -->
            <div class="form-group">
                <label for="newPassword">Mật khẩu mới</label>
                <div class="input-group">
                    <input type="password" 
                           id="newPassword" 
                           class="form-control" 
                           name="newPassword" 
                           [(ngModel)]="newPassword" 
                           required
                           placeholder="Nhập mật khẩu mới">
                    <span class="input-group-text" (click)="togglePasswordVisibility('newPassword', $event)">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
            </div>

            <!-- Xác nhận mật khẩu mới -->
            <div class="form-group">
                <label for="confirmPassword">Xác nhận mật khẩu mới</label>
                <div class="input-group">
                    <input type="password" 
                           id="confirmPassword" 
                           class="form-control" 
                           name="retypeNewPassword" 
                           [(ngModel)]="retypeNewPassword" 
                           required
                           placeholder="Xác nhận mật khẩu mới">
                    <span class="input-group-text" (click)="togglePasswordVisibility('confirmPassword', $event)">
                        <i class="fa fa-eye"></i>
                    </span>
                </div>
            </div>

            <!-- Nút đổi mật khẩu -->
            <button type="submit" class="btn-submit" (click)="updatePassword()">Đổi Mật Khẩu</button>
        </form>
    </div>
</div>

